[]

## Whether or not the creature, BlueLemurianMaster, should spawn with true dissonance
# Setting type: Boolean
# Default value: true
shouldSpawn = true

## The cost for the director to spawn this creature
# Setting type: Single
# Default value: 17.48333
bodyCredit = 17.48333

## The weighting to spawn this creature
# Setting type: Int32
# Default value: 50
weight = 50

## Whether or not this creature can be a teleporter boss
# Setting type: Boolean
# Default value: false
forbiddenAsBoss = false

## Whether or not this creature cannot be an elite
# Setting type: Boolean
# Default value: false
noElites = false

