[]

## Whether or not the creature, DittoMonsterMaster, should spawn with true dissonance
# Setting type: Boolean
# Default value: true
shouldSpawn = true

## The cost for the director to spawn this creature
# Setting type: Single
# Default value: 44.33333
bodyCredit = 44.33333

## The weighting to spawn this creature
# Setting type: Int32
# Default value: 49
weight = 49

## Whether or not this creature can be a teleporter boss
# Setting type: Boolean
# Default value: false
forbiddenAsBoss = false

## Whether or not this creature cannot be an elite
# Setting type: Boolean
# Default value: false
noElites = false

