## Settings file was created by plugin DekuMod v3.2.2
## Plugin GUID: com.TeaL.DekuMod

[Deku]

## Set to false to disable this character
# Setting type: Boolean
# Default value: true
Enabled = true

