[Blacklist]

## Blacklist for items. Adding an item to the list will make them unrepairable. List should consists of item ids separated by commas and everything else will be (hopefully) ignored. IDs for Hoopo items:
## Delicate Watch (Broken) - 68, Empty Bottle - 81, Dio's Best Friend (Consumed) - 57, Pluripotent Larva (Consumed) - 59
# Setting type: String
# Default value: 
Blacklist = 

[Director]

## Cost of the shrine in director credits. By defeult equal to the cost of most shrines.
# Setting type: Int32
# Default value: 20
Director Cost = 20

## Weight of the shrine for director. The lower the value, the more rare the shrine is. By default has the same weight as Shrine of Order, the only difference is that it can spawn anywhere.
# Setting type: Int32
# Default value: 1
Director Weight = 1

## Category of interactable. If you change this, then you should also change Director Cost and Director Weight, as default values for those are balanced around it being spawned as a shrine.
# Setting type: InteractableCategory
# Default value: Shrines
# Acceptable values: Invalid, Custom, Chests, Barrels, Shrines, Drones, Misc, Rare, Duplicator, VoidStuff
Director Category = Shrines

[Interactable Type]

## Use scrapper-like variant, with separate cost for each broken item and ability to select what you want to repair. Scrapper-like variant only works with gold. Setting this to false will return the mod to its pre 1.2.0 function. Each variant has its own config file, AllInOne for pre-1.2.0 version and PerItem for newer.
# Setting type: Boolean
# Default value: true
Use Scrapper-like variation = true

[Model]

## Use shitty model that I made myself. If you want to see what bad modeling by bad programmer looks like - be my guest. I made it, so might as well put it here.
# Setting type: Boolean
# Default value: false
Use Shitty Model = false

