[Primary Synergy Item]

# Setting type: String
# Default value: FireballsOnHit
ItemName = FireballsOnHit

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: LightningStrikeOnHit
ItemName = LightningStrikeOnHit

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Worm Damage Multiplier]

# Setting type: Int32
# Default value: 300
Damage = 300

[Worm Health Multiplier]

# Setting type: Int32
# Default value: 100
Health = 100

[Worm Size Multiplier]

# Setting type: Single
# Default value: 50
Size = 50

