[DOT Pool Damage Multiplier]

# Setting type: Single
# Default value: 0.5
Damage Multiplier = 0.5

[DOT Pool Duration]

# Setting type: Single
# Default value: 12
Duration = 12

[Primary Synergy Item]

# Setting type: String
# Default value: NearbyDamageBonus
ItemName = NearbyDamageBonus

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: Mushroom
ItemName = Mushroom

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

