[Cooldown Reduction]

## Must be negative.
# Setting type: Single
# Default value: -0.2
Reduction = -0.2

[Primary Synergy Item]

# Setting type: String
# Default value: Pearl
ItemName = Pearl

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: ShinyPearl
ItemName = ShinyPearl

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

