[Primary Synergy Item]

# Setting type: String
# Default value: SprintBonus
ItemName = SprintBonus

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Ram Damage Multiplier]

# Setting type: Single
# Default value: 2
Damage = 2

[Secondary Synergy Item]

# Setting type: String
# Default value: SprintOutOfCombat
ItemName = SprintOutOfCombat

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

