[Jellyfish Damage Multiplier]

# Setting type: Int32
# Default value: 50
Damage = 50

[Jellyfish Duration]

# Setting type: Int32
# Default value: 10
Duration = 10

[Jellyfish Health Multiplier]

# Setting type: Int32
# Default value: 100
Health = 100

[Jellyfish Size Multiplier]

# Setting type: Single
# Default value: 1
Size = 1

[Primary Synergy Item]

# Setting type: String
# Default value: AutoCastEquipment
ItemName = AutoCastEquipment

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: Squid
ItemName = Squid

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

