[Primary Synergy Item]

# Setting type: String
# Default value: RepeatHeal
ItemName = RepeatHeal

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: ShieldOnly
ItemName = ShieldOnly

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

