[Gold Multiplier]

# Setting type: Single
# Default value: 0.1
Multiplier = 0.1

[Primary Synergy Item]

# Setting type: String
# Default value: BonusGoldPackOnKill
ItemName = BonusGoldPackOnKill

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: DeathMark
ItemName = DeathMark

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

