[Heal Value]

## HealValue + level
# Setting type: Single
# Default value: 25
Value = 25

[Primary Synergy Item]

# Setting type: String
# Default value: Medkit
ItemName = Medkit

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: SprintOutOfCombat
ItemName = SprintOutOfCombat

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

