[Barrier Gain Cooldown]

# Setting type: Single
# Default value: 1.5
Cooldown = 1.5

[Barrier Value]

# Setting type: Single
# Default value: 5
Barrier = 5

[Enemy Max Radius]

# Setting type: Single
# Default value: 13
Radius = 13

[Primary Synergy Item]

# Setting type: String
# Default value: NearbyDamageBonus
ItemName = NearbyDamageBonus

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: BarrierOnOverHeal
ItemName = BarrierOnOverHeal

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

