[Armor Value]

# Setting type: Single
# Default value: 40
Value = 40

[Primary Synergy Item]

# Setting type: String
# Default value: HealWhileSafe
ItemName = HealWhileSafe

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: Mushroom
ItemName = Mushroom

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

