[Bleed Damage Multiplier]

# Setting type: Single
# Default value: 0.5
Multiplier = 0.5

[Primary Synergy Item]

# Setting type: String
# Default value: BleedOnHit
ItemName = BleedOnHit

[Primary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

[Secondary Synergy Item]

# Setting type: String
# Default value: BleedOnHitAndExplode
ItemName = BleedOnHitAndExplode

[Secondary Synergy Item Required Quantity]

# Setting type: Int32
# Default value: 1
Quantity = 1

